@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}
ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;    
} 

p {
    font-weight: 300;
}

.nav {
    background: #2E323F;
    padding-bottom: 1em;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
}

.nav-content {
    visibility: hidden;
    height: 0;
    position: absolute;
}

.nav-content--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #A59678;
    color: white;
    transition: opacity 250ms ease;
    position: absolute;
    left: 0;
    top: 0.8em;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.logo {
    margin: 0 auto;
}

.nav__list {
    text-align: center;
    padding: 0.4em;
}

.nav__item {
    padding: 0.2em;
}

.nav__link,
.hero__btn {
    color: rgb(224,224,226);
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.nav__link--btn,
.hero__btn {
    background-color: #A59678;
    border-radius: 100px;
    padding: 0.2em 1em;
}

.hero {
    background: #3B4050;
    padding: 0.7em 0 2em 0;
    text-align: center;
}

.hero__title {
    font-size: 4em;
    color: rgb(224,224,226);
    line-height: 1;
}

.hero__title--dark {
    color: #A59678;
}

.hero__txt {
    color: rgb(224,224,226);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.hero__btn:hover,
.nav__item:hover,
.footer-nav__item:hover {
    opacity: 0.7;
}

.first-section{
    background: rgb(224,224,226);
    text-align: center;
    padding: 0.7em 0;
}

.first-section__title {
    font-family: 'Oswald', sans-serif; 
    color: #A59678;
}

.first-section__txt {
    padding: 0.7em 0;
}

.second-section {
    text-align: center;
}

.second-section__main__title {
    color: #A59678;
    font-size: 2em;
    margin-top: 0.7em;
}

.second-section__main__txt {
    margin: 0.7em 0;
}

.second-section__side__box {
    text-align: center;
    background: #3B4050;
    margin: 1em;
    padding: 0.7em;
    color: rgb(224,224,226);
}

.second-section__side__title {
    padding-top: 0.7em;
}

.second-section__side__txt {
    padding: 0.7em 0.5em;
}

.img {
    width: 100%;
}

.footer {
    background: #3B4050;
    color: rgb(224,224,226);
    text-align: center;
    padding: 2em 0.7em;
}

.footer__title {
    padding: 0.7em 0;
}

.footer__title--dark {
    color:#A59678;
    padding-bottom: 0.7em;
}

.footer-nav{
    padding-top: 0.7em;    
}

.footer-nav__item {
    padding: 0.5em;
}

.footer-nav__link {
    color: rgb(224,224,226);
}

@media (min-width: 700px){

    .nav{
        padding: 1em 4em;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .nav-content {
        visibility: visible;
        display: flex;
        justify-content: flex-end;
        gap: 2em;
        height: auto;
        position: relative;
    }

    .logo {
        margin: 0;
    }

    .nav__list{
        display: flex;
        gap: 1em;
    }

    .nav-toggle{
        display: none;
    }

    .hero {
        display: flex;
        align-items: center; 
        text-align: left;
    }

    .hero__title {
        font-size: 90px;
        margin: 2.2em 0.2em;
    }

    .hero__info {
        width: 90%;
        margin-right: 4em;
    }

    .first-section {
        display: flex;   
        padding: 5em 2em;
    }

    .col + .col {
        margin-left: 1.5em;
    }

    .second-section {
        display: flex;
        flex-direction: column;
        padding: 0.7em 2.5em;
    }

    .second-section__side {
        display: flex;
    }

    .second-section__side__box {
        margin: 1em 0.2em;
    }

    .footer-flex {
        display: flex;
        justify-content: space-around;
    }

    .footer__title {
        font-size: 36px;
        margin-bottom: 1em;
    }

    .footer__txt {
        text-align: left;
        width: 40%;
    }

    .footer-nav {
        display: flex;
        justify-content: space-around;
        flex-grow: 2;
    }
}

@media (min-width: 1000px) {
    .hero__title {
        margin-left: 0.7em;
    }

    .second-section {
        flex-direction: row;
        text-align: left;
    }

    .second-section__side {
        flex-direction: column;
        margin-left: 4em;
        width: 40%;
    }
    
    .second-section__main {
        width: 60%;
    }
}